@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F7F9FB;
  --foreground: #003366;
}

body {
  color: var(--foreground);
  background: var(--background);
}

/* Custom scrollbar for better UX */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #003366;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #002244;
}
